.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 15;

  padding: 50px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgb(0 0 0 / 20%);
  
  &__title {
    font-size: 100px !important;
    font-family: "PocketMonk" !important;
    color: #edc32f;
    -webkit-text-stroke: 5px #3660b1;
    text-stroke: 5px #3660b1;
    margin-bottom: 50px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 30px;
  }

  &__swiper {
    position: relative;
    display: flex;

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100vw;
      height: 100vh;
      z-index: 10;
      content: "";
    }
    
    &-container {
      width: 20%;
      height: 100vh;
    }

    &-slide {
      display: flex;
      justify-content: center;
      align-items: center;

      &-img {
        img {
          object-fit: contain;
          position: relative !important;
          width: auto !important;
        }
      }

    }
  }
}