.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 15;

  padding: 50px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgb(0 0 0 / 20%);

  @media screen and (max-width: 500px){
    width: 95%;
    margin: auto;
    padding: 25px;
  }
  
  &__title {
    font-size: 100px !important;
    font-family: "PocketMonk" !important;
    color: #edc32f;
    -webkit-text-stroke: 5px #3660b1;
    text-stroke: 5px #3660b1;
    margin-bottom: 50px;

    @media screen and (max-width: 500px){
      text-align: center;
      font-size: clamp(4.0625rem, 0.1736rem + 19.4444vw, 6.25rem) !important;
      -webkit-text-stroke: 4px #3660b1;
      text-stroke: 4px #3660b1;
      margin-bottom: 25px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 30px;

    @media screen and (max-width: 400px){
      margin: 0;
    }
  }

  &__swiper {
    position: relative;
    display: flex;

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100vw;
      height: 100vh;
      z-index: 10;
      content: "";
    }
    
    &-container {
      width: 20%;
      height: 100vh;

      @media screen and (max-width: 1000px){
        &:first-child {
          display: none;
        }
      }

      @media screen and (max-width: 800px){
        &:nth-child(2) {
          display: none;
        }
      }

      @media screen and (max-width: 500px){
        &:nth-child(3) {
          display: none;
        }
      }
    }

    &-slide {
      display: flex;
      justify-content: center;
      align-items: center;

      &-img {
        img {
          object-fit: contain;
          position: relative !important;
          width: auto !important;

          @media screen and (max-width: 500px){
            width: 100% !important;
          }
        }
      }

    }
  }
}