.beginner {
  &__wrapper {
    margin: 10% 10% 0;

    h1 {
      font-size: 32px;
      font-weight: bold;
      font-family: "Famicom";
      margin-bottom: 24px;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 24px;
  }

  &__left {
    width: 50%;
    margin-left: 55px;
  }

  &__name {
    margin-bottom: 32px;
    font-family: "Famicom";
    width: 80%;

    input {
      font-size: 24px;
    }

    span {
      font-size: 24px;
    }
  }

  &__detail {
    > * {
      margin-bottom: 20px;
    }

    h2 {
      font-size: 20px;
    }

    p {
      margin-left: 30px;
    }
  }

  &__form {
    text-align: center;
  }

  &__right {
    width: 50%;
  }

  &__img {
    width: 200px;
    margin: auto;
    padding: 5%;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

    img {
      width: 100%;
    }
  }


}