@font-face {
  font-family: "Famicom";
  src: url("../public/fonts/Famicom.ttf");
}

@font-face {
  font-family: "PocketMonk";
  src: url("../public/fonts/PocketMonk.ttf");
}

body {
  font-family: "Famicom";
}

p {
  line-height: 1.5;
}